@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gx1dzk');
  src:  url('fonts/icomoon.eot?gx1dzk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gx1dzk') format('truetype'),
    url('fonts/icomoon.woff?gx1dzk') format('woff'),
    url('fonts/icomoon.svg?gx1dzk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heal:before {
  content: "\e906";
}
.icon-twitter-x-fill:before {
  content: "\e905";
}
.icon-obesity2:before {
  content: "\e904";
}
.icon-obesity:before {
  content: "\e902";
}
.icon-oldman:before {
  content: "\e903";
}
.icon-spine:before {
  content: "\e900";
}
.icon-spine_fill:before {
  content: "\e901";
}
